body {
    margin: 0;
    font-family: sans-serif;
    background-color: #280202;
    color: #ffb3b3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    background-color: #560808;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: red;
    padding: 8px 14px;
    border-radius: 6px;
    transition: 0.2s;
}

.nav-link:hover {
    background-color: rgba(255, 0, 0, 0.15);
}

.zagol {
    text-align: center;
    font-size: 40px;
    color: #ff2a2a;
    margin: 20px 0;
}

.facts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.fact {
    background-color: rgba(60, 0, 0, 0.8);
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 0 15px red;
}

.fact img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 15px;
}

.zagolovok {
    color: #ff4d4d;
    margin-bottom: 15px;
}

footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    background: linear-gradient(180deg, #3a0000, #120000);
    color: #ffb3b3;
    font-size: 20px;
}
